<header class="page-header">
<h1>About Us</h1>
</header>


<h2 class="about-title"> Welcome to the Jungle </h2>
<br>
<p class="about-desc">  This is not just your typical e-commerce site. Here at Jungle users have access to some of the world's craziest products. The best part is that making them your own is only one click away! 
</p>
<br>


