<header class="page-header">
<h1>About Us</h1>
</header>


<p> Welcome to Jungle! This is not your typical e-commerce site. Here at jungle users have accesses to some of the worlds craziest products. The best part is that making them your own is only one click away!   </p>