// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}


// Bootstrap adjustments
form.button_to {
  display: inline;
}

label {
  font-size: 18px;
}

.nav.navbar-nav.navbar-right{
display: flex;
align-items: baseline;

}

.about-desc {
  text-align: center;
  font-size: 24px;
}

.about-title{
  text-align: center;
  font-weight: bold;
}